// global
@import './global/reset';
@import './global/variables';

// mixins
@import './mixins/forsize';

* {
  box-sizing: border-box;
}

html {
  width: 100%;
  font-size: 62.5%;
}

body {
  font-family: 'Open Sans', Arial, Helvetica, sans-serif;
}
